{% extends 'main.html' %} {% block title %}About us{% endblock title %}{% block content %}
<div class="container mt-5">
  <div class="mb-5">
    <h1 class="text-center">About us</h1>
  </div>
  <div class="mb-2">
    <p>
      &emsp;Welcome to SGC Design! We specialize in making your car look and feel like new. With our
      range of products and services, we can help you customize your vehicle to your exact
      specifications.
    </p>
    <p>
      &emsp;One of our most popular services is car wrapping. We offer a wide variety of colors and
      finishes, from matte to glossy, so you can choose the perfect look for your car. Our expert
      team will apply the wrap with precision and care, ensuring a flawless finish.
    </p>
    <p>
      &emsp;In addition to car wrapping, we also offer LED ambient lights. These lights can be
      installed in your car's interior to create a relaxing and stylish atmosphere. With a range of
      colors and styles to choose from, you can truly make your car your own.
    </p>
    <p>
      &emsp;If your headlights are looking dull and worn, we can help with that too. Our headlight
      polish service can restore your headlights to their original shine, improving visibility and
      safety on the road.
    </p>
    <p>
      &emsp;Finally, if you have a vinyl wrap on your car that needs some tender loving care, we
      offer a polishing service that can bring it back to life. Our team will carefully clean and
      polish your vinyl wrap, making it look like new again.
    </p>
    <p>
      &emsp;At our tuning garage, we're passionate about cars and helping our customers create the
      perfect look for their vehicle. Contact us today to learn more about our services and how we
      can help you customize your car to your exact specifications.
    </p>
  </div>
</div>
{% endblock content %}
