{% extends 'main.html' %} {% load static %} {% block title %} Welcome {% endblock title %} {% block content %}
<style>
	body {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("{% static 'images/sgc.jpg' %}");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100vh; /* Adjust the value to match the height of your navbar */
	}
</style>

<div class="container mt-5">
	<h1 class="text-center text-white"> Welcome</h1>
</div>
{% endblock %}
