{% extends 'main.html' %}
{% load static %}
{% block title %}Portofolio{% endblock title %} 
{% block content %}
<div class="container mt-5">
  <div class="mb-5">
    <h1 class="text-center h-1">Portofolio</h1>
  </div>
  <div class="mb-3 mt-2">
    {% for portofolio in portofolios %}
    <div class="portofolio-item">
      <h2>{{portofolio.name}}</h2>
      <p>{{portofolio.created_at}}</p>
      <p>{{portofolio.description}}</p>
      <div class="text-center">
        <img height=400 width=400 src="{{ portofolio.main_photo.url }}" class="img-fluid" alt="{{ portofolio.name }}">
      </div>
      <p class="text-end"><a class="btn btn-info" href="{% url 'view-more' portofolio.id %}"> View more</a></p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

