.main {
	background-color: #eee;
}

.form {
	padding: 10 px;
	border: solid #eee 30px;
	border-radius: 10px;
	background-color: #eee;
}

.faq-question-body {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #d6e4e9;
}

.faq-question {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #fff;
}

.faq-answer {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #89f0c3;
}

.faq-question-form {
	width: 45%;
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #d6e4e9;
}
