.main {
	background-color: #eee;
}

.faq-container {
	margin-left: 20%;
	margin-right: 20%;
}

.faq-question-body,
.portofolio-item,
.photo-container {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #d6e4e9;
}

.form {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 0 auto;
	padding: 2%;
	border-radius: 10px;
	background-color: #d6e4e9;
	width: 70%;
}
.faq-question {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #fff;
}

.faq-answer {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #89f0c3;
}

.faq-question-form {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 10%;
	padding: 5%;
	border-radius: 10px;
	background-color: #d6e4e9;
	min-width: 400px;
}

.social img {
	width: 40px;
	height: 40px;
}
@media (max-width: 1899px) {
	.faq-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
